#navList a  {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #dbdbdb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

#navList li {
    margin-bottom: 0.5rem;
}

aside {
    border-radius: 2em;
    background-color: #7e7d8f;
    height: 98.5%;
    position: fixed;
    min-width: 300px;
}

article {
    padding: 1em;
    text-align: center;
}

body {
    background-color: #fdfaf5;
    min-height: 100vh;
    gap: 8px;

}

.highlight {
    color: #7e7d8f;
    font-weight: bold;
}

img {
    max-width: 1080px;
    width: 100%;
    height: auto;
    border-radius: 1em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    height: 15%;
}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 400px;
    align-self: start;
    padding-left: 10%;
    padding-right: 10%;
}

#navList a:focus {
    outline: none;
    color: rgb(6, 7, 75);
    font-size: 1.5em;
}