#navList a {
  display: inline-block; /* or inline if you prefer */
  padding: 0.5rem 1rem;
  text-decoration: none;
  color:#e7cba1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navList li {
  margin-bottom: 0.5rem;
}

aside {
    border-radius: 2em;
    background-color: #ae3e32;
    height: 98%;
    position: fixed;
    width: 400px;
}

article {
    padding: 1em;
    text-align: center;
}

body {
    background-color: #fdfaf5;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-template-rows: 100vh;
    min-height: 100vh;
    gap: 8px;
    
}

.highlight {
    color: rgb(230, 163, 75);
    font-weight: bold;
}

img {
    max-width: 1080px;
    width: 100%;
    height: auto;
    border-radius: 1em;
}

nav {
    position: fixed;
    top: 2em;
    left: 0;
    width: 100%;
    color: white;
    padding: 1em;

}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navList li a {
    display: inline;
    width: 100%;
    text-size-adjust: 100%;
}

main {
    margin-left: 400px;
    align-self: start;
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
}

:focus {
    color: red;
    font-size: larger;
}

a:focus {
    outline: none;
    color: red;
    font-size: larger;
}